NEXT_PUBLIC_MOVIEDB_KEY= # Your TMDB API Key
NEXT_PUBLIC_TMDB_TOKEN= # Your TMD API Read access token
DISCORD_CLIENT_ID= # Your Discord Client ID
DISCORD_CLIENT_SECRET= # Your Discord Client Secret
DISCORD_AUTH= # Your DIscord app oauth2 redirect url
MOVIEDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMzk2NWNiZGIwMzIyZmJmYWYyMDlhNmFhZmYzNzk1MSIsInN1YiI6IjY0N2YyZWVhMTc0OTczMDExODcyYmYzMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.qyp0kTQZ4-coX7-DVv5I9IPYRBuAw6ic_x1m9U7yTIk
DATABASE_URL= # MongoDB url for production
TEST_URL= # MongoDB url for development
NEXTAUTH_SECRET= #some secret for nextauth

# PUSHER
app_id = # Pusher APP Id    
NEXT_PUBLIC_PUSHER_KEY = # Pusher Key
NEXT_PUBLIC_PUSHER_CLUSTER = # Pusher Cluster
secret = # Pusher Secret
```