# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.deprecated_env
.deprecated_env.local
.env
data/_mdb_catalog.wt
data/collection-0-5604184223673752999.wt
data/collection-2-5604184223673752999.wt
data/collection-4-5604184223673752999.wt
data/collection-7-5604184223673752999.wt
data/index-1-5604184223673752999.wt
data/index-3-5604184223673752999.wt
data/index-5-5604184223673752999.wt
data/index-6-5604184223673752999.wt
data/index-8-5604184223673752999.wt
data/index-9-5604184223673752999.wt
data/mongod.lock
data/sizeStorer.wt
data/storage.bson
data/WiredTiger
data/WiredTiger.lock
data/WiredTiger.turtle
data/WiredTiger.wt
data/WiredTigerHS.wt
data/.mongodb/mongosh/651c28b0b3b4e2d5fbeb0e5d_log
data/.mongodb/mongosh/651c28b3b6caffb6f33c8202_log
data/.mongodb/mongosh/am-651c28b0b3b4e2d5fbeb0e5c.json
data/.mongodb/mongosh/config
data/.mongodb/mongosh/mongosh_repl_history
data/.mongodb/mongosh/snippets/index.bson.br
data/.mongodb/mongosh/snippets/package.json
data/diagnostic.data/metrics.2023-10-03T14-43-58Z-00000
data/diagnostic.data/metrics.2023-10-03T14-44-14Z-00000
data/diagnostic.data/metrics.2023-10-03T14-47-40Z-00000
data/diagnostic.data/metrics.2023-10-03T15-10-41Z-00000
data/diagnostic.data/metrics.2023-10-03T15-18-31Z-00000
data/diagnostic.data/metrics.2023-10-03T15-20-48Z-00000
data/diagnostic.data/metrics.2023-10-03T15-50-11Z-00000
data/diagnostic.data/metrics.2023-10-03T15-51-43Z-00000
data/diagnostic.data/metrics.2023-10-04T11-21-16Z-00000
data/journal/WiredTigerLog.0000000009
data/journal/WiredTigerPreplog.0000000001
data/journal/WiredTigerPreplog.0000000002

dump/
log.txt

# prisma migrations
prisma/migrations/
