@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 80%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --mobilenav: 164 64% 42%;
    --popoverBackground: hsl(204 4% 16%);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 50%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --mobilenav: 191 100% 39%;

    --ring: 216 34% 17%;
    --success: 113 100% 40%;
    --error: 9 100% 40%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .menu {
    @apply relative gap-2 flex z-50 min-w-[180px] flex-col overflow-auto overscroll-contain rounded border bg-popover p-5 border-white/10;
  }

  ul {
    @apply text-popover-foreground;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    flex-wrap: wrap;
    transition: color 0.5s;
    touch-action: none;
  }

  li {
    font-weight: 400;
  }

  li a {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
  }

  @supports not (anchor-name: --a) {
    li a:hover {
      background: color-mix(in lch, canvasText, canvas 15%);
      border-radius: 6px;
      transition: background-color 0.3s ease-in-out;
    }
  }

  :is(a, button) {
    outline-color: color-mix(in lch, canvasText, transparent 50%);
  }

  a:is(:focus-visible, :hover),
  ul:has(a:target:is(:focus-visible, :hover))::after {
    color: white;
  }

  [data-no-anchor] ul:has(li:nth-of-type(1) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-1-y);
    --item-active-x: var(--item-1-x);
    --item-active-width: var(--item-1-width);
    --item-active-height: var(--item-1-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(2) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-2-y);
    --item-active-x: var(--item-2-x);
    --item-active-width: var(--item-2-width);
    --item-active-height: var(--item-2-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(3) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-3-y);
    --item-active-x: var(--item-3-x);
    --item-active-width: var(--item-3-width);
    --item-active-height: var(--item-3-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(4) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-4-y);
    --item-active-x: var(--item-4-x);
    --item-active-width: var(--item-4-width);
    --item-active-height: var(--item-4-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(5) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-5-y);
    --item-active-x: var(--item-5-x);
    --item-active-width: var(--item-5-width);
    --item-active-height: var(--item-5-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(6) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-6-y);
    --item-active-x: var(--item-6-x);
    --item-active-width: var(--item-6-width);
    --item-active-height: var(--item-6-height);
  }

  [data-no-anchor] ul:has(li:nth-of-type(1) a:target) {
    --target-y: var(--item-1-y);
    --target-x: var(--item-1-x);
    --target-width: var(--item-1-width);
    --target-height: var(--item-1-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(2) a:target) {
    --target-y: var(--item-2-y);
    --target-x: var(--item-2-x);
    --target-width: var(--item-2-width);
    --target-height: var(--item-2-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(3) a:target) {
    --target-y: var(--item-3-y);
    --target-x: var(--item-3-x);
    --target-width: var(--item-3-width);
    --target-height: var(--item-3-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(4) a:target) {
    --target-y: var(--item-4-y);
    --target-x: var(--item-4-x);
    --target-width: var(--item-4-width);
    --target-height: var(--item-4-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(5) a:target) {
    --target-y: var(--item-5-y);
    --target-x: var(--item-5-x);
    --target-width: var(--item-5-width);
    --target-height: var(--item-5-height);
  }
  [data-no-anchor] ul:has(li:nth-of-type(6) a:target) {
    --target-y: var(--item-6-y);
    --target-x: var(--item-6-x);
    --target-width: var(--item-6-width);
    --target-height: var(--item-6-height);
  }

  ul:has(a:is(:focus-visible, :hover)) {
    --intent: 1;
  }
  /*hover box */
  ul::before,
  ul::after {
    --transition: 0.18s;
    content: "";
    position: fixed;
    pointer-events: none;
    top: calc(var(--item-active-y) * 1px);
    left: calc(var(--item-active-x) * 1px);
    height: calc(var(--item-active-height) * 1px);
    width: calc(var(--item-active-width) * 1px);
    opacity: var(--intent, 0);
    z-index: -1;
    border-radius: 6px;
    background: color-mix(in lch, canvasText, canvas 15%);
    transition: all var(--transition), top var(--transition),
      left var(--transition), height var(--transition),
      opacity var(--transition), color var(--transition),
      width var(--transition);
    transition-timing-function: linear(
      0 0%,
      0.2342 12.49%,
      0.4374 24.99%,
      0.6093 37.49%,
      0.6835 43.74%,
      0.7499 49.99%,
      0.8086 56.25%,
      0.8593 62.5%,
      0.9023 68.75%,
      0.9375 75%,
      0.9648 81.25%,
      0.9844 87.5%,
      0.9961 93.75%,
      1 100%
    );
  }
  /* underline*/
  ul::after {
    top: calc(var(--target-y) * 1px);
    left: calc((var(--target-x) * 1px) + 1.25rem);
    height: calc(var(--target-height) * 1px);
    width: calc((var(--target-width) * 1px) - 2.5rem);
    opacity: 1;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid currentColor;
    view-transition-name: target;
  }

  /* Targeting */
  @supports (anchor-name: --a) {
    nav {
      --anchor: var(--item-active);
    }

    nav li:nth-of-type(1) {
      anchor-name: --item-1;
    }
    nav li:nth-of-type(2) {
      anchor-name: --item-2;
    }
    nav li:nth-of-type(3) {
      anchor-name: --item-3;
    }
    nav li:nth-of-type(4) {
      anchor-name: --item-4;
    }
    nav li:nth-of-type(5) {
      anchor-name: --item-5;
    }
    nav li:nth-of-type(6) {
      anchor-name: --item-6;
    }

    nav:has(li:nth-of-type(1) a:is(:hover, :focus-visible)) {
      --anchor: --item-1;
    }
    nav:has(li:nth-of-type(2) a:is(:hover, :focus-visible)) {
      --anchor: --item-2;
    }
    nav:has(li:nth-of-type(3) a:is(:hover, :focus-visible)) {
      --anchor: --item-3;
    }
    nav:has(li:nth-of-type(4) a:is(:hover, :focus-visible)) {
      --anchor: --item-4;
    }
    nav:has(li:nth-of-type(5) a:is(:hover, :focus-visible)) {
      --anchor: --item-5;
    }
    nav:has(li:nth-of-type(6) a:is(:hover, :focus-visible)) {
      --anchor: --item-6;
    }

    nav:has(li:nth-of-type(1) a:target) {
      --target: --item-1;
    }
    nav:has(li:nth-of-type(2) a:target) {
      --target: --item-2;
    }
    nav:has(li:nth-of-type(3) a:target) {
      --target: --item-3;
    }
    nav:has(li:nth-of-type(4) a:target) {
      --target: --item-4;
    }
    nav:has(li:nth-of-type(5) a:target) {
      --target: --item-5;
    }
    nav:has(li:nth-of-type(6) a:target) {
      --target: --item-6;
    }

    ul::before {
      left: anchor(var(--anchor) left);
      top: anchor(var(--anchor) top);
      width: anchor-size(var(--anchor) width);
      height: anchor-size(var(--anchor) height);
    }

    ul::after {
      left: calc(anchor(var(--target) left) + 1.25rem);
      top: anchor(var(--target) top);
      width: calc(anchor-size(var(--target) width) - 2.5rem);
      height: anchor-size(var(--target) height);
    }
  }

  ::view-transition-group(target),
  ::view-transition-group(item) {
    mix-blend-mode: normal;
  }

  /* Menu */

  .menu-item {
    display: flex;
    flex-direction: column;
    cursor: default;
    scroll-margin: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: none !important;
    align-items: flex-start;
  }

  .menu-item-inner {
    margin-left: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .menu-item-inner::before {
    content: "|";
  }

  .column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-label {
    @apply text-xs text-white/40;
  }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/
